<html>
<head>
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>About Aling Nena</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
#former {float:left;}
#owner {float:right;}

  </style>
    <link href="/css/admin.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/products">Products</a>
          <a class="navbar-brand" href="#">About Us</a>
        </div>
      </div>
    </div>
    <marquee direction="right"><font size="20" color="red"> Aling Nena: Sari Sari Store</font></marquee>
   <br>
   <center>
    <img src="aling_nena.jpg" id = "store">
    </center> 
    <br><br>
    <img src ="owner2.jpg" id="former" height ="50%">
  <br><br>
    <p>On 1995, Aling Nena, the former owner of Aling Nena Sari Sari Store (the picture in the middle), decided to venture on a small business, now called Aling Nena Sari-Sari Store. The reason why she ventured on this business is that she had to find a new source of income to support a family of 10. In her Sari-Sari store, she started selling some detergents, soaps and some drinks. Unfortunately, after 5 years, Aling Nena suffered a disease called MERS CORONA VIRUS. In effect, the oldest son of Aling Nena (the picture on the left) took over the business and his name is Fen Nena. <br> <img src="detergent.jpg" height ="15%" width="15%"><img src="soap.gif" height ="15%" width="15%"><img src="coke.jpeg" height ="15%" width="15%"><img src="c2.jpeg"><center><h4> Available Products Here in Aling Nena's Sari Sari Store</h4></center></p>
    <br><br><br>
    <img src="owner.jpg" id="owner" height="45%">
    <br><br><br><br><br><br>
    <p>After 10 years, Fen Nena realized that he had to increase the variety of products in his store. Knowing this, he decided to sell food he cooked by himself. Since then, his store had been in frenzy. Many people have been visiting his store and buying his products and food. With his great knowledge of economics and marketing, he was able to expand his market to different areas in the country. Examples are Valenzuela, Pasig, Quezon, Marikina and Malabon.</p> 
    <p>After another 10 years, Fen Nena now has a family of 5. Since he already grew old, he knows that he would hand the business down to his eldest son again. But because of his eldest son's incompetence, he has to make sure that the business would grow at a maximum pace before he retires.</p>
    <br><br><br><br><br><br>
    <p>To make his business more successful than ever, he knows that he has to advertise his store through media. To do this, he knows that he had to hire a programmer to post his products online, which will alow potential customers to purchase his products with more convenience. If this will be allowed, the sales of his store would surely increased, thus increasing his profit.</p>
</body>
</html>